<web-app>
    <servlet>
        <servlet-name>Account Mapping</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>accountpackage,wholesalerpackage</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Account Mapping</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>